@tailwind base;
@tailwind components;
@tailwind utilities;


.modal-action-custom {
    @apply modal-action ;
    @apply flex justify-around;
}
.btn-custom-1 {
    @apply btn ; /* Applying DaisyUI button styles */
    @apply bg-gray-600 text-white; /* Customizing the background and text color */
    @apply w-16; /* Adding padding */
    @apply rounded-md
  }

  .btn-custom-2 {
    @apply btn ; /* Applying DaisyUI button styles */
    @apply bg-red-500 text-white; /* Customizing the background and text color */
    @apply w-16; /* Adding padding */
    @apply rounded-md
  }
 *{
  margin: 0;
 }

.containerr ::-webkit-scrollbar{
  display: none;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.preformatted {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  
}

.open-sans-medium {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}


#react-hot-toast {
  z-index: 9999; /* Set a high z-index value */
}